/*general dv*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/*header dv*/
.header{
	background-color: #fff; 
  padding: 10px;
  height: 12vh;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}

.header #logo{
	width: 100px;
	float: left;
	margin-left: 20px;
	padding: 0em 1em 0em 1em;
}

.header #logo img{
  width: 80%;
}

.header_title{
	text-align: center;
    font-size: 30px;
    line-height: 50px;
}

/*section login dv*/
.section{
	margin-top: 50px;
}

.section h1{
	font-family: 20px;
	text-align: center;
	text-transform: uppercase;
}

.div_login {
	width: 60%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.text_left {
  text-align: left;
}

.input_login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/******* aside ************/
/*aside nav menu lateral*/
.aside{
	/*background-color: #aaaaff;
	width: 200px;
	height: 500px;
	float: left; */

	background: #fff;
	height: 100vh;
	vertical-align: top;
	width: 200px;
	-webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08); 
	position: fixed;
	top: 80px;
	z-index: 999;
}

/* CONTENIDO QUE CARGA EN MEDIO */
#content{
  margin-left:35%;
  margin-top:4%;
}

.opciones{
    clear: both;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 1em;
}

.menu-title {
    color: #41434d;
    clear: both;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 90px;
    padding: 0;
    text-transform: uppercase;
	width: 100%;
	margin-left: 1em;
}
.title-registarg {
  color: #41434d;
  font-size: 20px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}






