/*general dv*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/*header dv*/
.header{
	background-color: #4caf509c ; /*#4caf50*/
	height: 100px;
	padding: 20px;
}

.header #logo{
	width: 100px;
	float: left;
	margin-left: 20px;
}

.header_title{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.header #logo img{
	width: 100%;
}

/*section login dv*/
.section{
	margin-top: 50px;
}

.section h1{
	font-family: 20px;
	text-align: center;
	text-transform: uppercase;
}

.div_login {
	width: 70%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.text_left {
  text-align: left;
}

.input_login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/*aside home*/
.aside{
	background-color: #aaaaff;
	width: 200px;
	height: 500px;
	float: left;
}




